body {
    background: radial-gradient(circle at 94.02% 88.03%, #60495A, transparent 100%), radial-gradient(circle at 25.99% 27.79%, #2F2235, transparent 100%), radial-gradient(circle at 50% 50%, #000000, #000000 100%);
}

/* [PERIOD SELECTOR] */
#cal-date {
  margin: 10px 0;
}
#cal-mth, #cal-yr, #cal-set {
  padding: 10px;
  font-size: 1.2em;
  border: 0;
  background: purple;
  color: #fff;
}

/* [CALENDAR] */
#calendar {
  width: 1600px;
    height: 550px;
  border-collapse: collapse;
}
    #calendar tr.head td {
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        background: #9e70f3;
        padding: 15px;
        text-align: center;
    }
#calendar tr.day td {
  border: 1px solid #ddd;
  width: 13.27%;
    padding: 15px 5px;
  vertical-align: top;
}
#calendar tr.day td:hover {
  background: #fff9e4;

}
#calendar tr td.blank {
  background: transparent;
}
    #calendar .dd {
        font-size: 1.2em;
        color: #9e70f3;
    }

    #calendar .evt {
        margin-top: 5px;
        font-size: 0.8em;
        font-weight: bold;
        overflow: hidden;
        color: #fff9e4;
    }

/* [ADD/EDIT EVENT] */
#cal-event form {
  padding: 15px;
  margin-top: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}
#cal-event h1 {
  color: #333;
  padding: 0;
  margin: 0;
}
#evt-date {
  color: #999;
  margin: 10px 0;
}
#cal-event textarea {
  display: block;
  box-sizing: padding-box;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  resize: none;
}
#cal-event input[type=button], #cal-event input[type=submit] {
    padding: 10px;
    margin: 5px;
    font-size: 1.2em;
    border: 0;
    background: #9b4cea;
    color: #fff;
}

/* [DOES NOT MATTER] */
html, body, textarea, input{
  font-family: helvetica, sans-serif;
}
#page-body{
  max-width: 1000px;
}